.App {
  min-width: 450px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  margin-left: 0px;
  left: 0px;
  height: 50px;
  vertical-align: middle;
}

.App-header {
  margin-left: 0px;
  padding-top: 5px;
  width: 100%;
  text-align: center;
  background-color: #222;
  height: 90px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

label {
  margin-right: 10px;
  font-size: smaller;
}

.button {
  font-weight: bold;
  background-color:green;
  border: none;
  color: white;
  height: 20px;
  width: 150px;
}

.button:disabled {
  vertical-align: bottom;
  font-weight: bold;
  background-color: darkslategrey;
  border: none;
  color: lightgrey;
  height: 20px;
  width: 150px;
}

.narrow_button {
  font-weight: bold;
  background-color:green;
  border: none;
  color: white;
  height: 20px;
  width: 50px;
}


span.display_control_label {
  font-weight: bold;
  min-width: 110px;
  display: inline-block;
}


div.display_search_controls {
  margin: auto;
  width: 1400px;
  margin-bottom: 15px;
  /*
  border: 1px solid green;
  */
}

@media only screen and (max-width: 1400px) {
  div.display_search_controls {
    width: 725px;
  }
}

@media only screen and (max-width: 750px) {
  div.display_search_controls {
    width: 100%;
  }
}

div.display_search_controls_group {
  min-width: 400px;
  margin: auto;
  float: left;
  /*
  border: 1px solid red;
  */
}

@media only screen and (max-width: 750px) {
  div.display_search_controls_group {
    width: 400px;
    float: none;
  }
}

div.display_search_controls_subgroup {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 10px;
  float: left;
}

div.display_search_controls_subgroup input[type="radio"] {
  margin-top: -3px;
  vertical-align: middle;
}

@media only screen and (max-width: 750px) {
  div.display_search_controls_subgroup {
    float: none;
  }
}

button#search_button {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 10px;
}

button#reset_button {
  margin-left: 15px;
  margin-top: 15px;
}


button#previous_button {
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 130px;
}

@media only screen and (max-width: 750px) {
  button#previous_button {
    width: 17%;
  }
}

button#next_button {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 130px;
}

@media only screen and (max-width: 750px) {
  button#next_button {
    width: 17%;
  }
}


div.display_search_results_nav {
  margin-top: 15px;
}

div.display_search_results_nav p {
  text-align: center;
  width: 100%;
  clear: both;
}

@media only screen and (max-width: 750px) {
  div.display_search_results_nav p {
    width: 250px;
    margin: 0 auto 15px auto;
    clear: inherit;
  } 
}


table.search_table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

table.search_table, th, td {
  border-top: 1px solid #44f;
  padding: 15px;
}

table.search_table th.search_table_summary_column {
  width: 60%;
  min-width: 140px;
}
table.search_table th.search_table_image_column {
  width: 40%;
  min-width: 100px;
}

table.search_table td {
  overflow: hidden;
}

.search_preview_image {
  width: 100px;
}


.search_result_name {
  font-weight: bold;
}



div.display_search_results {
  width: 20%;
  min-width: 310px;
  float: left;
  /* 
  border: 1px solid red;
  */
  background: #eef;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-top: 1px;
}

@media only screen and (max-width: 750px) {
  div.display_search_results {
    width: auto;
    float: none;
  }
}


div.display_search_results_message {
  width: 20%;
  min-width: 310px;
  float: left;
  /* 
  border: 1px solid red;
  */
  background: #eef;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  div.display_search_results_message {
    padding: 1px 0;
    width: auto;
    float: none;
  }
}



div.display_artefact_content {
  /* 
  border: 1px solid blue;
   */

  background: #eef;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  
  overflow: auto;

  /* These are technically the same, but use both
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 750px) {
  div.display_artefact_content {
    width: auto;
    float: none;
  }
}

div.display_artefact_message {
  /* border: 1px solid red; */
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #eef;
  margin-left: 15px;
  margin-right: 15px;

  overflow: auto;
  word-break: break-word;
}

div.display_artefact_message_error {
  border: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #fee;
  margin-left: 15px;
  margin-right: 15px;

  font-weight: bold;
  overflow: auto;
  word-break: break-word;
}

div.display_primary_image_wrapper {
  max-height: 500px;
}

img.display_primary_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 100%;
  height: auto;
}


div.galleryPane {
  height: 100px;
  margin-top: 20px;
}

div.galleryPane img {
  border: 3px solid #aaf;
  max-width: 200px;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.galleryPane img:hover {
  border: 3px solid #44f;
  max-width: 200px;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.responsive {
  float: left;
  width: 24.999999%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1250px) {
  div.responsive {
      width: 33.333333%;
  }
}

@media only screen and (max-width: 1000px) {
  div.responsive {
      width: 49.99999%;
  }
}

/*
@media only screen and (max-width: 475px) {
  div.responsive {
      width: 100%;
      box-sizing: border-box;
  }
}
*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



.centeredOverlay {
  position: absolute;
  /*
  dim the background
  background-color: rgba(255, 0, 0, 0.3);
  */
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:black;
  text-align: center;
}

.centeredOverlay span {
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}

.wrapper {
  position: relative;
}




.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: gallery-loading-spin 2s linear infinite; /* Safari */
  animation: gallery-loading-spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes gallery-loading-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes gallery-loading-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}